@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');


:root {
  --electronBlue: #0984e3;
  --gradientBlue: linear-gradient(to left, #00c6ff, #0984e3 50%, #00c6ff);
  --gradientTitle: linear-gradient(to right, #0984e3, #2b32b2);
  --gradientSubtitle: linear-gradient(to right, #0984e3, #2b32b2);
  --body-bg: #c7ecee;
  --citeBlue: #2b32b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--body-bg);
}

/************************************************************
     INICIO - HEADER
************************************************************/

.header {
  width: 100vw;
  height: 37px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: var(--gradientBlue);
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.3);
  padding: 7px 0;
}

a {
  text-decoration: none;
}

.container-logo {
  position: relative;
  margin-top: 4px;
  margin-left: 17px;
}

.container-logo img {
  width: 80px;
  position: absolute;
  top: -11px;
  object-fit: cover;
}

.container-logo label {
  color: white;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
  font-size: 1.3em;
  text-shadow: 0 3px 17px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -3px;
  left: 87px;
}

/************************************************************
     FOOTER
************************************************************/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--gradientBlue);
  color: #fff;
  margin-top: 37px;
  padding-top: 47px;
}

.img-center-footer {
  position: absolute;
  top: -47px;
  width: 90px;
}

/************************************************************
     INICIO CSS JACS COURSE
************************************************************/

.line-hr {
  margin: 20px 0;
  opacity: 0.3;
}

.container90 {
  width: 90%;
  margin: 0 auto;
}

.code-line {
  font-family: "JetBrains Mono", monospace;
  color: var(--citeBlue);
  font-style: italic;
}

.high-txt {
  color: var(--electronBlue);
  font-weight: bold;
}

.title-section {
  background: var(--gradientTitle);
  color: white;
  font-size: 2.3rem;
  text-shadow: 0 3px 17px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 37px;
  z-index: 999;
  padding: 3px;
  margin: 27px 0;
}

.subtitle {
  width: fit-content;
  background: var(--gradientSubtitle);
  color: #fff;
  border-radius: 9px;
  padding: 3px 13px;
  margin-bottom: 17px;
}

.cite {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.9em;
  color: var(--citeBlue);
  font-weight: 600;
  margin: 3px 0 23px 0;
}

.cinta {
  display: inline-block;
  color: var(--electronBlue);
  border-radius: 7px;
  border: dotted 2px var(--electronBlue);
  padding: 2px 1px 1px 3px;
  margin: 7px 0;
  font-weight: bold;
}

.img {
  width: 60%;
  margin-top: 9px;
  display: block;
  object-fit: cover;
  border-radius: 9px;
}

.lista {
  margin-top: 17px;
  margin-left: 30px;
}

.lista li {
  margin-bottom: 17px;
}

/********* continer-source *********/

.container-source {
  margin: 30px 0;
  padding: 9px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9px;
  border-radius: 17px;
  box-shadow: 1px 2px 17px 7px rgba(0, 0, 0, 0.1);
}

.container-source textarea {
  width: 100%;
  height: 100%;
  padding: 27px 0 0 17px;
  font-size: 1em;
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0.53);
}

.container-source__html,
.container-source__css,
.container-source__rtdo {
  outline: solid 0.3px var(--electronBlue);
  border-radius: 3px;
  position: relative;
}

.container-source__html {
  grid-column: 1;
}

.container-source__css {
  grid-column: 2;
}

.container-source__rtdo {
  grid-column: 3;
  background: rgba(0, 0, 0, 0.53);
}

.container-source__html::after,
.container-source__css::after,
.container-source__rtdo::after {
  position: absolute;
  top: -17px;
  right: 7px;
  padding: 3px 7px;
  border-radius: 7px;
  color: white;
  font-weight: 700;
  background: var(--electronBlue);
  box-shadow: 0 3px 17px rgba(255, 255, 255, 0.17);
}

.container-source__html::after {
  content: "HTML";
}

.container-source__css::after {
  content: "CSS";
}

.container-source__rtdo::after {
  content: "RTDO";
}

.ej-caja {
  width: 100px;
  height: 100px;
  font-weight: 700;
  text-align: center;
  padding-top: 39px;
}

.ej-relative-caja1 {
  background: yellow;
}

.ej-relative-caja2 {
  background: blue;
  position: relative;
  top: 23px;
  left: 20px;
}

.ej-relative-caja3 {
  background: red;
  position: relative;
  top: 10px;
  left: 33px;
}

.ej-relative-caja4 {
  background: whitesmoke;
}