:root {
  --electronBlue: #0984e3;
  --gradientBlue: linear-gradient(to left, #00c6ff, #0984e3 50%, #00c6ff);
  --gradientTitle: linear-gradient(to right, #0984e3, #2b32b2);
  --gradientSubtitle: linear-gradient(to right, #0984e3, #2b32b2);
  --body-bg: #c7ecee;
  --gray-code: #2d3436;
  --citeBlue: #2b32b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--body-bg);
}

/************************************************************
     INICIO - HEADER
************************************************************/

header {
  width: 100vw;
  height: 37px;
  position: fixed;
  z-index: 1000;
  background: var(--gradientBlue);
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.3);
  padding: 7px 0;
}

a {
  text-decoration: none;
}

.container-logo {
  position: relative;
  margin-top: 4px;
  margin-left: 17px;
}

.container-logo img {
  width: 80px;
  position: absolute;
  top: -11px;
  object-fit: cover;
}

.container-logo label {
  color: white;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
  font-size: 1.3em;
  text-shadow: 0 3px 17px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -3px;
  left: 87px;
}

/************************************************************
     FOOTER
************************************************************/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--gradientBlue);
  color: #fff;
  padding: 7px;
}

footer label {
  font-family: "Courier New", Courier;
  font-size: 1em;
  font-weight: bold;
}

.label-css {
  margin-top: 27px;
}

.img-center-footer {
  position: absolute;
  top: -47px;
  width: 90px;
}

/************************************************************
     INICIO CSS JACS COURSE
************************************************************/

/*** CONTAINER VACIO (ERROR header fixed) ***/
.container-vacio {
  display: flex;
  margin-bottom: 76px;
}

.line-hr {
  margin: 20px 0;
  opacity: 0.3;
}

.container90 {
  width: 90%;
  margin: 0 auto;
}

.code-line {
  font-family: "JetBrains Mono", monospace;
  color: var(--gray-code);
  text-transform: lowercase;
  font-style: italic;
}

.high-txt {
  color: var(--electronBlue);
  font-weight: bold;
}

.title-section {
  background: var(--gradientTitle);
  color: white;
  font-size: 2.3rem;
  text-shadow: 0 3px 17px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 27px 0;
}

.subtitle {
  width: 40%;
  background: var(--gradientSubtitle);
  color: #fff;
  border-radius: 9px;
  padding: 3px 13px;
  margin-bottom: 17px;
}

.cite {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.9em;
  color: var(--citeBlue);
  font-weight: 600;
  margin: 3px 0 23px 0;
}

.cinta {
  display: inline-block;
  color: var(--electronBlue);
  border-radius: 7px;
  border: dotted 2px var(--electronBlue);
  padding: 3px;
  margin: 9px 0;
  font-weight: bold;
}

.images {
  width: 47%;
  margin-top: 9px;
  display: block;
  object-fit: cover;
  border-radius: 9px;
  border: solid 2px var(--electronBlue);
}

.img-no-border {
  border: none;
}

.lista {
  margin-top: 17px;
  margin-left: 30px;
}

.lista li {
  margin-bottom: 17px;
}

/********* continer-source *********/

.container-source {
  margin: 30px 0;
  padding: 9px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9px;
  border-radius: 17px;
  box-shadow: 1px 2px 17px 7px rgba(0, 0, 0, 0.1);
}

.container-source textarea {
  width: 100%;
  height: 100%;
  padding: 27px 0 0 17px;
  font-size: 1.3em;
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}

.container-source__html {
  outline: solid 0.3px var(--electronBlue);
  border-radius: 3px;
  grid-column: 1;
  position: relative;
}

.container-source__html::after {
  content: "HTML";
  position: absolute;
  top: -17px;
  right: 23px;
  padding: 3px 7px;
  border-radius: 7px;
  color: white;
  font-weight: 400;
  background: var(--electronBlue);
  box-shadow: 0 3px 17px rgba(255, 255, 255, 0.17);
}

.container-source__css {
  outline: solid 0.3px var(--electronBlue);
  border-radius: 3px;
  grid-column: 2;
  position: relative;
}

.container-source__css::after {
  content: "CSS";
  position: absolute;
  top: -17px;
  right: 23px;
  padding: 3px 7px;
  border-radius: 7px;
  color: white;
  font-weight: 400;
  background: var(--electronBlue);
  box-shadow: 0 3px 17px rgba(255, 255, 255, 0.17);
}

.container-source__rtdo {
  outline: solid 0.3px var(--electronBlue);
  border-radius: 3px;
  grid-column: 3;
  background: rgba(0, 0, 0, 0.37);
  position: relative;
}

.container-source__rtdo::after {
  content: "RTDO";
  position: absolute;
  top: -17px;
  right: 23px;
  padding: 3px 7px;
  border-radius: 7px;
  color: white;
  font-weight: 400;
  background: var(--electronBlue);
  box-shadow: 0 3px 17px rgba(255, 255, 255, 0.17);
}

.ej-caja {
  width: 100px;
  height: 100px;
  font-weight: 700;
  text-align: center;
  padding-top: 39px;
}

.ej-relative-caja1 {
  background: yellow;
}

.ej-relative-caja2 {
  background: blue;
  position: relative;
  top: 23px;
  left: 20px;
}

.ej-relative-caja3 {
  background: red;
  position: relative;
  top: 10px;
  left: 33px;
}

.ej-relative-caja4 {
  background: whitesmoke;
}